@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,216,187,1) 35%, rgba(0,212,255,1) 100%);
  text-align: center;
}

.card {
  margin: 0 auto;
  margin-top: 20px;
}

#entryform {
  margin: 0 auto;
  width: 60%;
  margin-top: 200px
}

.cardbtn {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#python, #javascript, #PHP, #c {
  margin-right: 20px;
}